{% extends "templates/web.html" %}

{% block title %}{{ _('Samaaja - Leaderboard') }}{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>{% include "www/leaderboard/index.js" %}</script>
{% endblock %}
{% block content %}
{% include 'www/leaderboard/templates/banner.html' %}
{% include 'www/leaderboard/templates/verified_cm_section.html' %}
{% include 'www/leaderboard/templates/leaderboard_section.html' %}
{% include 'www/leaderboard/templates/active_cities.html' %}
{% if samaaja_settings.show_opportunities_section_ %}
{% include 'www/leaderboard/templates/opportunity_section.html' %}
{% endif %}
{% if samaaja_settings.show_campaign_section_ %}
{% include 'www/leaderboard/templates/campaign_section.html' %}}
{% endif %}

{% endblock %}
