<div class="wrapper-grey">
    <div class="active_cities">
        <div class="ac_title">Most Active Cities</div>
        <div class="ac_content">
            <div class="ac_list">
                <div class="ac_sub_title">Check out which cities or regions are adding most actions</div>
                <div class="cities_filter">
                    <select class="hours-select" name="rank-based-on-city" id="rank-based-on-city">
                        <option value="Overall">Overall</option>
                        <option value="Last Month">Last Month</option>
                        <option value="Last 15 Days" selected="selected">Last 15 Days</option>
                    </select>
                </div>
                <div class="ac_list_item" id="ac_list_item">
                </div>
            </div>
            
        </div>
        <div class="ac_cta">
            <a href="" target="_blank"><button class="primary_btn">Join a City</button></a>
        </div>
    </div>
</div>