{% set hero_text_color = samaaja_settings.hero_text_color|default('#090909', true) %}
{% set hero_bg_color = samaaja_settings.hero_bg_color|default('#FFFFF5', true) %}
<div class="banner_wrapper" style="background-color: {{ hero_bg_color }};">
    <div class="banner_content_wrapper" style="color: {{ hero_text_color }};">
        <h1 style="color: {{ hero_text_color }};">{{ samaaja_settings.tagline }}</h1>
        <h2 style="color: {{ hero_text_color }};">{{ samaaja_settings.blurb }}</h2>
        <h3 style="color: {{ hero_text_color }};">{{ samaaja_settings.summary }}</h3>
        <div class="b_content">
            {% for feature in samaaja_settings.samaaja_feature_list%}
                <div class="b_content_box">
                    <img src="{{feature.icon}}" alt="" />
                    <span>{{feature.feature_name}} </span>
                </div>
                {% if not loop.last %}
                    <div class="bcb_divider" style="background-color: {{ hero_text_color }};"></div>
                {% endif %}
             {% endfor %}
        </div>
        <div class="cta-wrapper">
            {% if samaaja_settings.show_cta_1 %}
                <div class="b_cta">
                    <a href="{{samaaja_settings.cta1_link}}" target="_blank" ><button class="main_btn">{{ samaaja_settings.cta1_label }}</button></a>
                </div>
            {% endif %}
            {% if samaaja_settings.show_cta_2 %}
                <div class="b_cta">
                    <a href="{{samaaja_settings.cta2_link}}" target="_blank"><button class="main_btn">{{ samaaja_settings.cta2_label }}</button></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
