<div class="wrapper-grey">
    <div class="verified_cms email_campaigns">
        <div class="vn_header">
            <div class="vn_title">
                <span>{{ samaaja_settings.opportunity_label }}</span>
                <small>{{ samaaja_settings.opportunity_summary }}</small>
            </div>
        </div>
        {% if opportunities|length == 0 %}
            <div class="no_opportunities">
                <p>{{ samaaja_settings.no_opportunity_text }}</p>
            </div>
        {% else %}
            <div class="vn_content">
                {% for opportunity in opportunities %}
                    {{ frappe.render_template('www/leaderboard/templates/opportunity.html', {"opportunity": opportunity}) }}
                {% endfor %}
            </div>
            {% if opportunities|length > 10 %}
                <div class="vn_all">
                    <a href=""><button class="main_btn">{{ samaaja_settings.view_all}}</button></a>
                </div>
            {% endif %}
        {% endif %}
        
    </div>
</div>
